*{
    padding: 0;
    margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: #1e1e2f;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.header ul {
  list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #00d4ff;
}

.login-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #00d4ff;
  color: #111;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 212, 255, 0.4);
}
.footer {
  background: #1e1e2f;
  color: #fff;
  padding: 40px 20px 15px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
    margin: auto;

}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #00d4ff;
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 6px;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #00d4ff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 25px;
  padding-top: 12px;
  font-size: 13px;
  color: #aaa;
}